.rightDash {
    width: 30%;
    font-family: sans-serif;
    color: #666666;
    margin: 12px 0 0 20px;
    font-size: 17px;
    display: flex;
    justify-content: flex-start;
    min-width: 191px;

}

.green > p, .red > p {
    text-align: left;
    margin-top: 10px;
    font-size: 25px;
}

.green {
    margin-top: 25px;
    color: rgb(36, 160, 36);
}

.red {
    color: #ff652f;
    margin-top: 25px;
}

.removeFriendBtn {
    margin-top: 25px;
    color: white;
    cursor: pointer;
    background-color: #ff652f;
    border-color: #c75b34;
    border-radius: 5px;
    padding: 5px;
    height: 25px;
}

.removeFriendBtn:hover {
    background-color: #c75b34;
}