.billIndexItem {
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    justify-content: space-between;
    padding: 10px 0 10px 0;
    font-family: sans-serif;
    font-size: 14px;
    color: #333333;
    min-height: 32px;
    align-items: center;
}

.billLeft > p, .billRight > p {
    margin-left: 30px;
}

.billLeft {
    display: flex;
    align-items: center;
}

.billLeft > p {
    font-weight: 700;
    font-size: 16px;
}



.billRight {
    display: flex;
    justify-content: center;
}

.billRight > div > p {
    justify-content: center;
    margin-right: 30px;
    width: 150px;
}

.billPayer, .billPayee {
    display: block;
    text-align: center;
    justify-content: center;
}

.billPayerName {
    color: #a8a7a7;
    font-size: 12px;
    font-weight: 500;
}

.billPayerAmount {
    font-weight: 700;
    font-size: 16px;
}

.billGreen {
    color: rgb(36, 160, 36);
    font-weight: 700;
    font-size: 16px;
}

.billRed {
    color: #ff652f;
    font-weight: 700;
    font-size: 16px;
}

.billDate {
    display: block;
    text-align: center;
    width: 50px;
    color: #a8a7a7;
}

.billMonth {
    font-size: 10px;
}

.billDay {
    font-size: 20px;
}

.deleteBill {
    display: flex;
    margin-right: 20px;
    align-items: center;
    color: white;
    
}

.billIndexItem:hover > span > .deleteBill {
    color: #ff652f;
}

.billIndexItem:hover {
    background-color: rgb(235, 235, 235);
}

.deleteBill:hover {
    cursor: pointer;
    border-bottom: 3px solid #ff652f;
    border-top: 3px solid rgb(235, 235, 235);
}

.userDefault {
    max-height: 40px;
    margin-left: 30px;
}

.details {
    font-family: sans-serif;
    display: flex;
    margin-right: 30px;
    align-items: center;
    border: 1px solid white;
    padding: 2px 4px 2px 4px;
    border-radius: 10px;
}

.billIndexItem:hover > span > .details > button {
    color: white;
    cursor: pointer;
    background-color: #ff652f;
}

.billIndexItem:hover > span > .details {
    border-color: #c75b34;
    background-color: #ff652f;
}

.billDetailsClosed {
    display: none;
}

.billDetailsOpen {
    font-family: sans-serif;
    display: flex;
    border-bottom: 1px solid lightgray;
    min-height: 100px;
}

.detailsHeader {
    justify-content: center;
    padding-top: 10px;
}
