// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.commentContainer {
    border: 1px solid lightgray;
    margin: 5px 0 5px 5px;
    border-radius: 5px;
}

.commentItem {
    border: 2px solid lightgray;
    padding: 5px;
    margin: 5px 5px 0 5px;
    font-size: 11px;
    font-family: sans-serif;
    border-radius: 5px;
}

.commentContent {
    display: inline-block;
    font-size: 13px;
    max-width: 250px;
}

.commentAuthor {
    font-weight: 700;
}

.commentBtn {
    color: white;
    background-color: #1cc29f;;
    border-color: #0f6b57;
    border-radius: 5px;
    padding: 5px;
    height: 25px;
    margin: 5px;
}

.commentBtn:hover {
    cursor: pointer;
    background-color: #168a71;
}

.commentForm {
    margin: 5px;
}

.commentForm > textarea {
    border-radius: 5px;
    max-width: 400px;
    min-width: 125px;
    min-height: 50px;
    max-height: 250px;

}

.commentForm > textarea:focus {
    outline: none;
    border: 1px solid #1cc29f;
    box-shadow: 0 0 10px #1cc29f;
}

.commentItemContainer {
    display: flex;
}

.clearCommentBtn {
    font-weight: 700;
    color: #ff652f
}

.clearCommentBtn:hover {
    cursor: pointer;
}

.commentDate {
    color: gray;
}