.formLogo {
    max-width: 300px;
    max-height: 175px;
}

.formTitle{
    text-align: center;
    font-family: sans-serif;
    color: #737473;
    margin-top: 50px;
}

.form {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    color: #2d3937; 
}

.formLogo {
    margin: 20px;
}

.sessionForm {
    margin: 20px;
}

input:focus {
    outline: none;
    border: 1px solid #1cc29f;
    box-shadow: 0 0 10px #1cc29f;
}

input {
    border: 1px solid #2d3937;
}

input, label {
    display: block;
}


.errors {
    color: #c83400;
    font-family: sans-serif;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    max-width: 300px;
    margin-top: 30px;
    box-sizing: border-box;
    font-weight: 700;
}

.usernameField {
    height: 40px;
    width: 300px;
    font-size: 18px;
    color: #2d3937;
    font-weight: 700px;
}

.emailField {
    font-size: 18px;
    height: 40px;
    width: 300px;
}

.passwordField {
    font-size: 18px;
    height: 40px;
    width: 300px;
    
}

.formSubmit {
    font-size: 24px;
    background: #ff652f;
    color: white;
    border-radius: 5px;
    padding: 12px;
    border: 1px solid #c83400;
}

.formSubmit:hover {
    background: #c83400;
    cursor: pointer;
}

input {
    margin-top: 5px;
}

strong {
    font-weight: 700;
}

.fullForm {
    margin-top: 100px;
}

.demoBtn {
    font-size: 24px;
    background: #1cc29f;
    border-radius: 5px;
    color: white;
    padding: 12px;
    border: 1px solid #0f6b57;
    float: right;
}

.demoBtn:hover {
    background-color: #15977b;
    cursor: pointer;
}