
 .header {
     display: flex;
     padding-top: 6px;
     justify-content: space-between;
     background-color: white;
 }

 .logoTitle {
     display: flex;
     text-decoration: none;
     margin-left: 300px;
     align-self: flex-end;
 }

 .greeting {
     font-family: sans-serif;
     font-size: 14px;
     color: #3b4443;
 }

 .greetingName {
     display: flex;
     font-size: 18px;
     margin-right: 300px;
     min-width: 164px;
 }

 .user {
     margin: 5px 5px 4px 5px;
     font-weight: bold;
     align-self: center;
 }

 .logout {
    background-color: #1cc29f;
    box-shadow: 0 2px 0 #15977b;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 700px;
    text-decoration: none;
    padding: 8px;
    border-radius: 5px;
    margin: 5px 5px 5px 5px;
    min-width: 55px;
    min-height: 31px;
 }

 .logo {
     max-width: 50px;
     max-height: 35px;
 }

 .title {
     font-family: sans-serif;
     font-size: 20px;
     color: #3b4443;
     padding: 10px;
     margin-top: 0;
     letter-spacing: .15ch;
     font-weight: bold;
 }

 .greetingBtn {
     display: flex;
     justify-content: space-between;
     margin-right: 300px
 }

 .signup {
    background-color: #1cc29f;
    box-shadow: 0 2px 0 #15977b;
    color: white;
    position: relative;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 700px;
    max-height: 75px;
    text-decoration: none;
    padding: 8px;
    border-radius: 5px;
    margin: 3px 5px 7px 5px;
    min-width: 51px;
}

.login {
    font-family: sans-serif;
    text-decoration: none;
    color: #1cc29f;
    font-size: 15px;
    font-weight: 700;
    margin: 3px 5px 5px 5px;
    align-self: center;
    min-width: 45px;
}

.logout:hover, .signup:hover {
  background-color: #15977b;
  cursor: pointer;
}

.login:hover {
    cursor: pointer;
    color: #15977b;
}